<ion-view>
    <ion-nav-title>{{match.firstname}} {{match.lastname}}</ion-nav-title>
    <ion-content on-swipe-left="toggleTime(true)" on-swipe-right="toggleTime(false)">
        <div ng-repeat="message in messages | orderBy:'+':true" ng-class="{other: message.receiver_Id != myId}" class="messages">
            <div class="message">
                <div ng-if="checkDate(message.date)" class="date-bar clearfix">
                    <p>{{message.date | date:'d MMM y'}}</p>
                </div>
                <span>{{ message.message }}</span>
            </div>
            <div class="time" ng-show="showTime">{{ message.date | toDate }}</div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
        </label>
        <button class="button button-clear" ng-click="sendMessage()">Send</button>
    </ion-footer-bar>
</ion-view>
