<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
        <div ng-repeat="user in users track by $index" class="custom-item card">
            <div class="center-img">
                <img class="dash-img" ng-src="http://graph.facebook.com/{{user.id}}/picture?type=large" />
                <h2>{{ user.firstname }} {{ user.lastname }} ({{ user.age }})</h2>
                <p>{{ user.location }}</p>
            </div>
            <div class="range custom-range">
                <i class="icon ion-ios-trash-outline dashboard-icon"></i>
                <input type="range" ng-model="user.action" ng-disabled="disabled" min="-100" max="100" name="like" ng-change="checkAction(user.action, user)">
                <i class="icon ion-ios-heart-outline dashboard-icon"></i>
            </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
