<ion-modal-view>
  <ion-header-bar>
    <h1 class="title" style="color: white;">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" id="login_screen">
    <form ng-submit="doLogin()">
      <div class="list">
        <div id="logo"></div>
        <h2 id="login-slogan">Find students in your area and hook up with them!</h2>
        <div id="facebook_div">
            <button id="facebook" class="button button-facebook" ng-click="facebookSignIn()"><i class="ion-social-facebook icon" style="float: left;"></i>Log in with Facebook</button>
        </div>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
