<ion-view view-title="Matches">
  <ion-content>
        <ion-list>
            <ion-item>
                <div class="item-avatar">
                    <img class="full-image" src="http://eskipaper.com/images/selena-gomez-brunette-girl-1.jpg">
                    <h2>Aisha</h2>
                    <p>Odisee, Gent</p>
                    <div>
                        Hey Arne!
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="item-avatar">
                    <img class="full-image" src="http://eskipaper.com/images/selena-gomez-brunette-girl-1.jpg">
                    <h2>Lana</h2>
                    <p>Odisee, Gent</p>
                    <div>
                        Start nu een gesprek!
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="item-avatar">
                    <img class="full-image" src="http://eskipaper.com/images/selena-gomez-brunette-girl-1.jpg">
                    <h2>Evert</h2>
                    <p>Odisee, Gent</p>
                    <div>
                        Start nu een gesprek!
                    </div>
                </div>
            </ion-item>
  </ion-content>
</ion-view>
