<ion-view view-title="Matches">
  <ion-content>
        <ion-list>
            <ion-item ui-sref="app.chat({id: match.id})" ng-repeat="match in matches">
                <div class="item-avatar">
                    <img class="full-img" ng-src="http://graph.facebook.com/{{match.id}}/picture?type=large" />

                    <!-- <img class="full-image" src="http://eskipaper.com/images/selena-gomez-brunette-girl-1.jpg"> -->
                    <h2>{{match.firstname}} {{match.lastname}} - {{match.age}}j</h2>
                    <p>Odisee, Gent</p>
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
                <ion-option-button class="button-red" ng-click="delete(match)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
