<ion-view view-title="My Profile">
  <ion-content>
    <img class="profile-image" src="http://eskipaper.com/images/selena-gomez-brunette-girl-1.jpg">
    <h3 style="text-align: center;">Arne Vlaeminck</h3>
    <ion-list>
        <div class="item item-divider">My info</div>
        <ion-item>Name: myname</ion-item>
        <ion-item>E-mail: mymail@student.odisee.be</ion-item>
        <ion-item>School: Odisee, Gent</ion-item>
        <ion-item>About me: fun guy, javascript is life</ion-item>
        <div class="item item-divider">My preferences</div>
        <ion-item>Looking for:
            <ion-checkbox ng-model="filter.red"><i class="icon ion-female" style="float: right; font-size: 30px;"></i></ion-checkbox>
            <ion-checkbox ng-model="filter.yellow"><i class="icon ion-male" style="float: right; font-size: 30px;"></i></ion-checkbox>
            <ion-checkbox ng-model="filter.pink"><i class="icon ion-transgender" style="float: right; font-size: 30px;"></i></ion-checkbox>
        </ion-item>
        <ion-item>Between: mymail@student.odisee.be
            <div class="range">
              18j
              <input type="range" name="volume">
              99j
            </div>
        </ion-item>
        <ion-item>Location:
               <select style="float: right;">
                 <option>Gent</option>
                 <option selected>Kortrijk</option>
                 <option>Leuven</option>
               </select>
        </ion-item>
        <ion-item>Max. distance: Odisee, Gent
            <div class="range">
              0km
              <input type="range" name="volume">
              20km
            </div>
        </ion-item>

        <button class="button button-full button-balanced">Save my profile</button>
    </ion-list>
  </ion-content>
</ion-view>
