<ion-view view-title="My Profile">
  <ion-content>
    <div class="profile-header">
        <img ng-src="http://graph.facebook.com/{{id}}/picture?type=large" alt="Profile picture" class="profile-image" />
        <h3 style="text-align: center;">{{user.firstname}} {{user.lastname}}</h3>
    </div>

    <ion-list>
        <div class="item item-divider">My info</div>
        <label class="item item-input">
            <span class="input-label" ng-class="passwordlabel">First name: </span>
            <input type="text" ng-model="user.firstname" value="{{user.firstname}}" required>
        </label>
        <label class="item item-input">
            <span class="input-label" ng-class="passwordlabel">Last name: </span>
            <input type="text" ng-model="user.lastname" value="{{user.lastname}}" required>
        </label>
        <label class="item item-input">
            <span class="input-label" ng-class="passwordlabel">Email: </span>
            <input type="text" ng-model="user.email" value="{{user.email}}" required>
        </label>
        <div class="item item-divider">My preferences</div>
        <ion-item>
            <span class="preferences-title">Looking for:</span>
            <ion-checkbox class="item-checkbox-line checkbox-custom" ng-model="user.prefFemale" ng-checked="user.prefFemale"><i class="icon ion-female" style="float: right; font-size: 30px;"></i></ion-checkbox>
            <ion-checkbox class="item-checkbox-line checkbox-custom" ng-model="user.prefMale" ng-checked="user.prefMale"><i class="icon ion-male" style="float: right; font-size: 30px;"></i></ion-checkbox>
            <ion-checkbox class="checkbox-custom" ng-model="user.prefTrans" ng-checked="user.prefTrans"><i class="icon ion-transgender" style="float: right; font-size: 30px;"></i></ion-checkbox>
        </ion-item>
        <ion-item>
            <span class="preferences-title">Age between:</span>
            <div class="range">

                <span class="preferences-title">{{user.prefAgeMin | num}}j </span>
                <input class="dualrange" type="range" ng-model="user.prefAgeMin" min="18" max="{{user.prefAgeMax}}" name="age">
                <input class="dualrange" type="range" ng-model="user.prefAgeMax" min="{{user.prefAgeMin}}" max="99" name="age">

                <span class="preferences-title">{{user.prefAgeMax | num}}j</span>
            </div>

        </ion-item>
        <ion-item>
            <span class="preferences-title">Max. distance:</span>
            <div class="range">
              <span class="preferences-title">Okm</span>
              <input type="range" ng-model="user.prefDistance" min="{{distanceSlider.min}}" max="{{distanceSlider.max}}" name="volume">
              <span class="preferences-title">{{user.prefDistance | num}}km</span>
            </div>
        </ion-item>

        <button class="button button-full button-custom" ng-click="saveProfile()">Save my profile</button>
    </ion-list>
  </ion-content>
</ion-view>
